<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/product" *ngIf="isAdmin">Products</a>
      <a class="nav-item nav-link" routerLink="/report" *ngIf="isAdmin">Reports</a>
      <a class="nav-item nav-link" routerLink="/order" *ngIf="isAdmin">Orders</a>
      <a class="nav-item nav-link" routerLink="/user" *ngIf="isAdmin">Users</a>
      <a class="nav-item nav-link" routerLink="/cart" *ngIf="isUser">Cart</a>
      <a class="nav-item nav-link" routerLink="/electronics" *ngIf="isUser">Electronics</a>
      <a class="nav-item nav-link" routerLink="/fashion" *ngIf="isUser">Fashion</a>
      <a class="nav-item nav-link" routerLink="/homeappliance" *ngIf="isUser">Hpme Appliances</a>
      <a class="nav-iten nav-link" routerLink="/wishlist" *ngIf="isUser">Wishlist</a>
      <a class="nav-item nav-link" routerLink="/profile">Profile</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
